body {
  background-color: #ccc;
}
.userContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.userRooms {
  display: flex;
  justify-content: center;
}
.userButtons {
  margin-top: 25px;
}

.bedroomContainer,
.kitchenContainer {
  padding: 20px;
  margin: 30px;
  background: white;
  border-radius: 5px;
}

.bedroomLights,
.kitchenLights {
  display: flex;
  flex-direction: column;
}

.bedroomButtons,
.kitchenButtons {
  padding: 10px;
  margin: 15px;
}

.roomButton {
  margin: 10px;
  box-shadow: 3px 3px black;
  border-radius: 10px;
  padding: 6px 16px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.toggler {
  display: flex;
  justify-content: space-evenly;
}

.lightLabel {
  font-size: larger;
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 30px;
}

.turnLightsOn {
  background-color: rgb(23, 111, 23);
}

.turnLightsOff {
  background-color: #f01b1b;
}

/* .............................. */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #29b82e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #29b82e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
